body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#0f0f0f;
    color:#f1f1f1;
}

header{
    background:#000;
    padding:25px;
    text-align:center;
    border-bottom:3px solid #f39c12;
}

header h1{
    margin:0;
}

nav{
    background:#1a1a1a;
    padding:10px;
    text-align:center;
}

nav a{
    color:#f39c12;
    margin:0 10px;
    text-decoration:none;
    font-weight:bold;
}

section{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
}

h2{
    color:#f39c12;
    border-bottom:1px solid #333;
    padding-bottom:10px;
}

.roadbook{
    background:#1b1b1b;
    padding:15px;
    margin-top:15px;
    border-left:4px solid #f39c12;
    font-size:14px;
}

.button{
    display:inline-block;
    margin-top:15px;
    padding:10px 15px;
    background:#f39c12;
    color:#000;
    text-decoration:none;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:25px;
    background:#000;
    border-top:3px solid #f39c12;
    font-size:14px;
}
